/* Minimal Reset */
/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */

html {
  color-scheme: dark light;
}

/* min body height */

body {
  min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/********************/

body {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1rem;
  background: #a100004d;

  min-width: 100vh;
  min-height: 100vh;
}

body *:not(img, .top-banner) {
  margin: 2rem 1rem 1rem 1rem;
}

article {
  background-color: red;
}

body ul[role="list"],
body ol[role="list"] {
  margin: inherit;
}

.title {
  font-size: 2.5rem;
  color: red;
}

.article-heading {
  font-size: 1.5rem;
}

.summary {
  background-color: gray;
  margin-top: 2rem;
  padding: 0.5rem;
}

.content {
  background: #fcfcfc;
  border-radius: 1ch;
}

.top-banner {
  width: auto;
  height: 30rem;
}

.top-banner img {
  border-top-left-radius: 1ch;
  border-top-right-radius: 1ch;

  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bottom_banner {
  margin-top: 1rem;
}

.bottom_banner .title {
  margin-bottom: 2rem;
  color: black;
}

.bottom_banner .content {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
}

.bottom_banner img {
  object-fit: cover;
  width: 50rem;
  height: 30rem;
  margin-bottom: 1.5rem;
}

/* li {
  padding-top: 15px;
} */

/* Header Style*/
/* header {
  padding: 20px 50px 0 50px;
}

header h1 {
  color: #a10000;
}

header h1 + p {
  background-color: #ebebeb;
  padding: 16px;
}

/* Main Body Style*/
/* article {
  padding: 10px 50px 0 50px;
} */

/*Footer Style*/
/* footer {
  padding: 20px 50px 0 50px;
  margin-bottom: 50px;
}

footer div {
  display: flex;
  flex-direction: row;
}

footer .content {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 24px;
}

footer .content img {
  object-fit: cover;
  width: 580px;
  height: 467px;
} */
