<article class="content-card">
  <img
    src="https://picsum.photos/1920/1080?random=2"
    alt="Preview på ett pannkaka"
    class="content-card__preview"
  />
  <div class="content-card__text">
    <header aria-labelledby="card-title" class="content-card__heading">
      <h3 id="card-title" class="content-card__header">Pannkakor</h3>
    </header>
    <p class="content-card__body">
      Enkelt och snabbt recept för goda pannkakor
    </p>
    <a href="pancake.html" class="content-card__button">Read More</a>
  </div>
</article>
