:root {
  /* Spacing */
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;

  /* Sizes */
  --size-full: 100%;
  --size-half: 50%;
  --size-third: 33.33%;

  /* Border Round */
  --border-rounded-xs: 0.25rem;
  --border-rounded-sm: 0.5rem;
  --border-rounded-md: 1rem;
  --border-rounded-lg: 1.5rem;
  --border-rounded-xl: 2rem;

  /* Font Family */
  --ff-default: "DM Sans", sans-serif;
  --ff-heading: var(--ff-default);

  /* Font Weights */
  --fw-bold: bold;
  --fw-bolder: bolder;

  /* Font Sizes */
  --fs-heading: 3rem;
  --fs-subheading: 2rem;
  --fs-summary: 1.6rem;
  --fs-link: 1.4rem;

  /* Text Line Heights */
  --lh-heading: 2.2rem;
  --lh-default: 1.6rem;

  /* Lists */
  --ls-indentation: 1.1rem;

  /* Font Colors */
  --clr-f-heading: var(--accent-500);
  --clr-f-strong: var(--accent-900);
  --clr-f-link: var(--accent-700);
  --clr-f-link--hovered: var(--accent-800);
  --clr-f-link--focused: var(--accent-900);
  --clr-f-button: var(--primary-900);
  --clr-f-button--hovered: var(--text-50);
  --clr-f-button--focused: var(--text-50);
  --clr-f-tp: var(--text-50);

  /* Background Colors */
  --clr-bg-button: var(--background-300);
  --clr-bg-button--hovered: var(--background-500);
  --clr-bg-button--focused: var(--background-700);
}
