/**********************************************************/
/*                     Minimal Reset                      */
/**********************************************************/
/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */

/*html {
  color-scheme: light dark;
}*/

/* min body height */

body {
  min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/**********************************************************/
/*                     Variables                          */
/**********************************************************/

:root {
  /* Background Colors*/
  --body-bg-clr: #a100004d;
  --summary-bg-clr: light-dark(#ebebeb, #6c6c6c);
  --content-bg-clr: light-dark(#fcfcfc, #262626);

  /* Heading */
  --h-main-clr: light-dark(#a10000, #e12929);
  --h-main-size: 2rem;
  --h-main-bold: bold;

  --h-clr: light-dark(black, white);
  --h-size: var(--h-main-size);
  --h-bold: var(--h-main-bold);

  --summary-margin-top: 2rem;
  --summary-padding: 1.1rem 1rem;

  /* Font Family*/
  --ff-main: "DM Sans", sans-serif;
  --ff: var(--ff-main);

  /* Top Banner */
  --top-banner-height: 30rem;

  /* Body */
  --content-margin: 2rem 1rem 1rem 1rem;
  --content-border-radius: 0 0 1ch 1ch;
  --content-padding: 0rem 5rem 5rem 5rem;
  --content-max-width: 60rem;

  /* Page Footer*/
  --example-imgs-grid-gap: 1rem;

  /* Collections */
  --line-height: 2rem;
  --line-margin: 0 2rem;

  /* Text */
  --text-margin: 5rem 1.5rem;

  /* Example Images*/
  --example-img-height: 20rem;
  --example-img-width: 55rem;
  --example-img-margin-bottom: 0.2rem;
  --example-img-padding-top: 1rem;

}

/**********************************************************/
/*                     Core Style                         */
/**********************************************************/
* {
  font-family: var(--ff);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--content-padding);
  background: var(--body-bg-clr);
}

.content {
  background: var(--content-bg-clr);
  border-radius: var(--content-border-radius);
  max-width: var(--content-max-width);
}

.page-header {
  margin: var(--content-margin);

  .heading {
    font-size: var(--h-main-size);
    font-weight: var(--h-main-bold);
    font-family: var(--ff-main);
    color: var(--h-main-clr);
  }

  .summary {
    background-color: var(--summary-bg-clr);
    margin-top: var(--summary-margin-top);
    padding: var(--summary-padding);
  }
}

.page-topic {
  .heading {
    margin: var(--content-margin);
    font-size: var(--h-main-size);
    font-weight: var(--h-main-bold);
    color: var(--f-clr-main);
  }

  ul[role="list"],
  ol[role="list"] {
    line-height: var(--line-height);
    margin: var(--line-margin);
  }

  span {
    margin: var(--text-margin);
    line-height: var(--line-height);
  }
}

.top-banner {
  width: auto;
  height: var(--top-banner-height);

  img {
    border-top-left-radius: var(--content-border-radius);
    border-top-right-radius: var(--content-border-radius);

    width: 100%;
    height: var(--top-banner-height);
    object-fit: cover;
  }
}

.page-footer {
  margin: var(--content-margin);

  .heading {
    font-size: var(--h-main-size);
    font-weight: var(--h-main-bold);
    color: var(--h-clr);
  }

  .examples {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: var(--example-imgs-grid-gap);
  }

  img {
    object-fit: cover;
    width: var(--example-img-width);
    height: var(--example-img-height);
    margin-bottom: var(--example-img-margin-bottom);
    padding-top: var(--example-img-padding-top);
  }
}

/**********************************************************/
/*                     Media Query                        */
/**********************************************************/

@media screen and (max-width: 440px) {
  body {
    display: contents;
    margin: 0;
    padding: 0;
  }

  .top-banner img {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: 0;
    padding: 0;
  }

  .content {
    border-radius: 0;
    margin: 0;
    padding: 0;
  }

  .page-footer .examples {
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem 1rem 1rem 0rem;
  }
}
